<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

	{{>_navbar}}

	<div class="container mt-4">

		{{#if error}}

				<div class="alert alert-danger">{{error}}</div>

		{{else}}

		{{/if}}

		{{>_msg}}
	
		{{{body}}}

	</div>
	
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>


</html>