{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}


<div class="card">
    <div class="card-body">
        <h2>Create a new account</h2>
        <hr>
        <form action="" method="POST">
            <label for="name" class="mt-3">Username:</label>
                <input type="text" name="name" class="form-control" required>

            <label for="email" class="mt-3">Email:</label>
                <input type="email" name="email" class="form-control" required>

            <label for="password" class="mt-3">Password:</label>
                <input type="password" name="password" class="form-control" required>

            <label for="password2" class="mt-3">Repeat your password:</label>
                <input type="password" name="password2" class="form-control" required>

            <button type="submit" class="btn btn-success mt-4">Register</button>
        </form>
    </div>
</div>